@{
    ViewBag.Title = "Clientes";
}

<h2>Bienvenido a Clientes</h2>

@Html.ActionLink("Registrar Cliente", "Registro", "Home", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Visualizar Clientes", "Contact", "Home", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Eliminar cliente", "EliminarCliente", "Home", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Actualizar informacion del cliente", "ActualizarCliente", "Home", null, new { @class = "btn btn-primary" })