@{
    ViewBag.Title = "Inicio";
}

<h2>Bienvenido al Sistema de Gestión de Clientes EPM</h2>

@Html.ActionLink("Clientes", "Clientes", "Home", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Calcular Factura", "CalcularFactura", "Home", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Calculadora", "Calculadora", "Home", null, new { @class = "btn btn-primary" })